{#{% extends 'base.html.twig' %}#}

{% block body %}

<div style="display: table;position: absolute;top: 0;left: 0;height: 100%;width: 100%;background-image: url('/images/tlo.jpg');background-repeat: no-repeat;background-size: 100% 100%;">

    <div style="display: table-cell;vertical-align: middle;">

        <div style="background-color: transparent;">

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <table>
                    <tr>
                        <td><label for="inputUsername" style="color: black;font-weight: bold;">Użytkownik</label></td>
                        <td><input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus></td>
                    </tr>
                    <tr>
                        <td><label for="inputPassword" style="color: black;font-weight: bold;">Hasło</label></td>
                        <td><input type="password" name="password" id="inputPassword" class="form-control" required></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"></td>
                        <td><button class="btn btn-lg btn-primary" type="submit">Zaloguj się</button></td>
                    </tr>
                </table>

            </form>

        </div>

    </div>
</div>

{% endblock %}