{% extends 'base.html.twig' %}

{% block content %}
    
    <div class="div_change_pass_box"></div>
    <div class="div_change_pass_box_small_screen"></div>
    <div class="div_change_pass">{{ form(changePasswdForm) }}</div>
    
{% endblock %}